<h1><%= @user.username %></h1>

<% if @user.cards.any? %>
<h3>Below are the cards in this collection (<%= @user.cards.all.size%> total):</h3>
<ul>
  <% @user.cards.each do |card| %>
      <li><a href="/cards/<%= card.id %>"><%=card.player_name%></a></li>
    <% end %>
</ul>
  <% else %>
     <h2>There are currently no baseball cards in this collection</h2>
     <% if @user == current_user %>
     <p><a href="/cards/new">Add your first card to your collection</a><p>
    <% end %>
<% end %>